body {
    background-color: rgb(255, 249, 229);
    color: rgb(0, 47, 0);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    margin: 4%;
    padding: 20px;
    background-color: rgb(255, 252, 243);
    border: 10px solid rgb(0, 94, 0);
    border-radius: 10px;
}

form {
    text-align: left;
}

.output {
    white-space: pre-wrap;
    border-radius: 10px;
    border: 5px dashed rgb(65, 132, 65);
}

.about {
    text-align: left;
}

.ave {
    background-color: rgb(0, 81, 0);
    padding: 10px;
    margin: 1%;
    color: rgb(255, 254, 242);
    border-radius: 10px
}